<div class="box box_info box_statistics_artist">
    <div class="head"><strong>Statistics</strong></div>
    <ul class="stats nobullet">
        <li>Number of releases: {{ release_total|number_format }}</li>
        <li>Available platforms: {{ platform_total|number_format }}</li>
    </ul>
</div>

