{{ header(user.username ~ " › Settings") }}
<div class="thin">
  <div class="header">
    <h2>{{ user.id|user_url }} › Settings</h2>
  </div>
  <p>This installation is limited to an administrator account. User settings are disabled.</p>
</div>
{{ footer() }}
