{{ header('Locked Account') }}
<div class="header">
    <h2>Locked Account</h2>
</div>
{% if viewer.isLocked %}
<div class="box pad">
    <p>
        Your account has been locked for investigation. Please send a <a href="staffpm.php">Staff PM</a>
        to find out how to resolve this or visit our IRC server at
        <br><br>
        Please contact staff to resolve this issue.
    </p>
</div>
{% endif %}
{{ footer() }}
